body {
  font-family: sans-serif;
  margin: 0;
  padding: 0 20px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  display: flex;
  gap: 10px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}
